[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
scikit-learn = "*"
pandas = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
seaborn = "*"
tqdm = "*"
pip = "*"
setuptools = "*"
wheel = "*"
spacy = {extras = ["apple"], version = "*"}
transformers = "*"
datasets = "*"
tokenizers = "*"
seqeval = "*"
accelerate = "*"
evaluate = "*"
streamlit = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
