[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optuna = "*"
scikit-learn = "*"
pandas = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"

[dev-packages]

[requires]
python_version = "3.11"
